* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


/* WRAPPER */
.wrapper {
  background-color: red;
  padding: 20px 50px;
  width: 1000px;
  height: 800px;
  border-radius: 25px;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* HEADER */
.wrapper .header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: rgb(255, 230, 0);
  margin-bottom: 10px;
}

.wrapper .header h1, .wrapper .header span {
  font-family: "Tangerine", sans-serif;
  font-weight: 900;
}

.wrapper .header h1 {
  font-size: 64px;
}

.wrapper .header span {
  font-size: 32px;
}